apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: hanjuhn/backend:latest
        env:
        - name: BADWORD_FN
          value: badword-filter
        ports:
        - containerPort: 8000
