name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # QEMU 설치 (multi-arch 빌드 가능)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Buildx 설정
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # DockerHub 로그인
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Docker 이미지 빌드 + 푸시 (AMD64 타겟)
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest
